.form_block {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 15px auto;
}

.form_label {
    position: relative;
    color: black;
}

.form_input {
    background-color: rgb(252, 202, 158);
    border: grey;
    border-radius: 8px;
    font-size: 18px;
    padding: 8px 0px 8px 10px;
    color: #242424;
}

.form__input_eye{
    position: absolute;
    width: 1.2rem;
    height: 1.1rem;
    top: 50%;
    right: 20%;
}

.form__input_eye:hover{
    cursor: pointer;
}

.error-input {
    border: 2px solid red;
    background-color: rgb(252, 175, 158);
}

.error-message {
    color: red;
    font-size: .5rem;
    font-weight: 600;
}